* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: url(../IMAGES/bg.jpg) center center/cover;
}

.containeer .activee {
  color: #fff;
  background: #000;
}

/*ESTILOS PARA EL MENU PRINCIPAL DE TODAS LAS PAGINAS*/
.containeer {
  min-height: 100vh;
  backdrop-filter: blur(4px);
}
.containeer .menu {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.6);
}
.containeer .menu-logo img {
  width: 140px;
  height: 60px;
}
.containeer .menu-button .dropdown {
  display: inline-block;
  padding: 0px 7px;
  position: relative;
  transition: 0.6s all 0.5s;
}
.containeer .menu-button .dropdown-btn {
  background: transparent;
  border: none;
  padding: 7px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.6s all 0.02s;
}
.containeer .menu-button .dropdown-btn:hover {
  background: #000;
  color: #fff;
}
.containeer .menu-button .dropdown-content {
  position: absolute;
  min-width: 265px;
  background: #d5d5d5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  display: none;
  transition: 0.6s all 0.5s;
  z-index: 10;
}
.containeer .menu-button .dropdown-content:hover .dropdown-btn {
  background: #000;
}
.containeer .menu-button .dropdown-content a {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  display: block;
  padding: 10px 13px;
  text-decoration: none;
  transition: 0.3s all 0.02s;
}
.containeer .menu-button .dropdown-content a:hover {
  background: #fff;
  border-radius: 9px;
}
.containeer .menu-button .dropdown:hover .dropdown-content {
  display: block;
}

/* ESTILOS PARA EL CONTENEDOR DE LA PAGINA PRINCIPAL */
.containeer .content {
  backdrop-filter: blur(2px);
  min-height: 86.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containeer .content .content-info .dropdown-btn {
  background: transparent;
  border: none;
  padding: 7px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.6s all 0.02s;
  font-size: 22px;
  color: #000;
  background: rgba(255, 255, 255, 0.4);
}
.containeer .content .content-info .dropdown-btn:hover {
  transform: scale(1.05, 1.05);
  background: #000;
  color: #fff;
}

.containeer .content-form {
  display: grid;
  grid-template: "form content" auto/40% 60%;
}
.containeer .content-form-input {
  grid-area: form;
  min-height: 86.9vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid orange;
}
.containeer .content-form-input .form-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #09bddd;
}
.containeer .content-form-input .form-box form {
  border: 12px solid green;
  padding: 15px;
  width: 70%;
}
.containeer .content-form-input .form-box form input {
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  padding: 5px 5px;
  padding-bottom: -5px;
  padding-top: 20px;
  font-size: 17px;
  font-weight: bold;
}
.containeer .content-form-input .form-box form input[type=submit] {
  border-bottom: 3px solid green;
  cursor: pointer;
}
.containeer .content-form-input .form-box form form .in {
  position: relative;
}
.containeer .content-form-input .form-box form form .in label {
  position: absolute;
  top: 10px;
  left: 5px;
  pointer-events: none;
  transition: 0.5s;
  font-size: 17px;
  color: #a3a3a3;
}
.containeer .content-form-input .form-box form input:focus ~ label, .containeer .content-form-input .form-box form input:valid ~ label {
  top: 0.12px;
  color: blue;
  font-weight: bold;
}
.containeer .content-form-input .form-box form input:focus, .containeer .content-form-input .form-box form input:valid {
  border-bottom: 2px solid blue;
}
.containeer .content-form-information {
  grid-area: content;
  min-height: 86.9vh;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
}

/*ESTILoS PARA EL SLIDER DE LA PAGINA DE INGRESAR REGISTROS*/
.containeer .slideshow {
  margin: auto;
  margin-top: 10px;
  border: 10px solid red;
}
.containeer .slides {
  width: 100%;
  height: auto;
}
.containeer .slides img {
  width: 100%;
}
.containeer .slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden;
}
.containeer .slidesjs-pagination li {
  float: left;
}
.containeer .slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
}
.containeer .slidesjs-pagination li a:hover {
  background: #000000;
}
.containeer .slides .active {
  background: #000000;
}
.containeer .slidesjs-navigation {
  background: #000000;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  float: right;
}

/*# sourceMappingURL=style.css.map */
