* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: url(../IMAGES/bg.jpg) center center/cover;
}

.containeer .activee {
  color: #fff;
  background: #000;
}

/*ESTILOS PARA EL MENU PRINCIPAL DE TODAS LAS PAGINAS*/
.containeer {
  min-height: 100vh;
  backdrop-filter: blur(4px);
}
.containeer .menu {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.6);
}
.containeer .menu-logo img {
  width: 140px;
  height: 60px;
}
.containeer .menu-button .dropdown {
  display: inline-block;
  padding: 0px 7px;
  position: relative;
  transition: 0.6s all 0.5s;
}
.containeer .menu-button .dropdown-btn {
  background: transparent;
  border: none;
  padding: 7px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.6s all 0.02s;
  outline: none;
}
.containeer .menu-button .dropdown-btn:hover {
  background: #000;
  color: #fff;
}
.containeer .menu-button .dropdown-content {
  position: absolute;
  min-width: 265px;
  background: #d5d5d5;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  display: none;
  transition: 0.6s all 0.5s;
  z-index: 10;
}
.containeer .menu-button .dropdown-content:hover .dropdown-btn {
  background: #000;
}
.containeer .menu-button .dropdown-content a {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  display: block;
  padding: 10px 13px;
  text-decoration: none;
  transition: 0.3s all 0.02s;
}
.containeer .menu-button .dropdown-content a:hover {
  background: #fff;
  border-radius: 9px;
}
.containeer .menu-button .dropdown:hover .dropdown-content {
  display: block;
}

/* ESTILOS PARA EL CONTENEDOR DE LA PAGINA PRINCIPAL */
.containeer .content {
  backdrop-filter: blur(2px);
  min-height: 86.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containeer .content .content-info .dropdown-btn {
  background: transparent;
  border: none;
  padding: 7px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.6s all 0.02s;
  outline: none;
  font-size: 22px;
  color: #000;
  background: rgba(255, 255, 255, 0.4);
}
.containeer .content .content-info .dropdown-btn:hover {
  transform: scale(1.05, 1.05);
  background: #000;
  color: #fff;
}

.containeer-contenido {
  display: grid;
  grid-template: "form info" auto/40% 60%;
}
.containeer .form-box {
  grid-area: form;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  min-height: 86.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.containeer .form-box::before {
  content: "";
  display: block;
  width: 520px;
  height: 520px;
  background: rgba(255, 7, 7, 0.5);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.containeer .form-box input {
  padding: 10px 0;
  margin-bottom: 30px;
  width: 90%;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 5px 5px;
  padding-bottom: -5px;
  padding-top: 20px;
  font-size: 17px;
  font-weight: 500;
  background: none;
  color: #fff;
}
.containeer .form-box input[type=submit] {
  background: transparent;
  border: none;
  padding: 7px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.6s all 0.02s;
  outline: none;
  cursor: pointer;
  background: #000;
  width: 40%;
}
.containeer .form-box .btn {
  background: transparent;
  border: none;
  padding: 7px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.6s all 0.02s;
  outline: none;
  background: #000;
  color: #fff;
  width: 30%;
  transition: 0.6s all 0.02s ease;
}
.containeer .form-box .btn:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
.containeer .form-box .margin {
  margin-top: -25px;
}
.containeer .form-box select {
  border: 1px solid #669ddb;
  background: none;
  padding: 5px 10px;
  border-radius: 15px;
  color: #fff;
  outline: none;
}
.containeer .form-box form div {
  position: relative;
}
.containeer .form-box form div label {
  position: absolute;
  top: 10px;
  left: 32px;
  pointer-events: none;
  transition: 0.5s;
  font-size: 17px;
  color: #ededed;
}
.containeer .form-box input:focus ~ label, .containeer .form-box input:valid ~ label {
  top: 0.12px;
  color: #669ddb;
  font-weight: bold;
}
.containeer .form-box input:focus, .containeer .form-box input:valid {
  border-bottom: 2px solid #669ddb;
}

/*ESTILoS PARA EL SLIDER DE LA PAGINA DE INGRESAR REGISTROS*/
.containeer .slideshow {
  margin: auto;
  margin-top: 10px;
  border: 10px solid red;
}
.containeer .slides {
  width: 100%;
  height: auto;
}
.containeer .slides img {
  width: 100%;
}
.containeer .slidesjs-pagination {
  background: #424242;
  list-style: none;
  overflow: hidden;
}
.containeer .slidesjs-pagination li {
  float: left;
}
.containeer .slidesjs-pagination li a {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
}
.containeer .slidesjs-pagination li a:hover {
  background: #000000;
}
.containeer .slides .active {
  background: #000000;
}
.containeer .slidesjs-navigation {
  background: #000000;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  float: right;
}

.containeer table {
  width: 90%;
  margin: auto;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.6);
  transition: 0.6s all 0.3s ease;
}
.containeer table:hover {
  transform: scale(1.05, 1.05);
  border: 2px solid #000;
}
.containeer table th,
.containeer table td {
  padding: 10px;
  border: 2px solid #000;
}
.containeer table th {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
.containeer table tr {
  transition: 0.5s all 0.02s ease;
}
.containeer table tr:hover {
  color: #fff;
}
.containeer table tr:hover .btn {
  color: #fff;
  font-weight: 500;
}
.containeer table tr:hover {
  background: rgba(0, 0, 0, 0.6);
}
.containeer table .btn {
  background: transparent;
  border: none;
  padding: 7px 12px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 17px;
  transition: 0.6s all 0.02s;
  outline: none;
  font-weight: bold;
}
.containeer table .btn:hover {
  background: #000;
  color: #fff;
  font-weight: 500;
}
.containeer .santa {
  text-align: center;
  margin-top: 2em;
}

/*# sourceMappingURL=style.css.map */
