.containeer {
  &-contenido {
    display: grid;
    grid-template:
      "form info" auto/
      40% 60%;
  }

  .menu {
    .fondo::after {
      content: "";
      display: block;
      width: 620px;
      height: 645px;
      background: rgba(150, 6, 163, 0.5);
      border-radius: 50%;
      position: absolute;
      top: -350px;
      left: 620px;
      z-index: -1;
    }
  }

  .form-box {
    grid-area: form;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    min-height: 86.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 520px;
      height: 545px;
      background: rgba(17, 16, 16, 0.5);
      border-radius: 50%;
      position: absolute;
      left: -300px;
      z-index: -1;
    }

    & input {
      padding: 10px 0;
      margin-bottom: 30px;
      width: 90%;
      outline: none;
      border: none;
      border-bottom: 2px solid #fff;
      padding: 5px 5px;
      padding-bottom: -5px;
      padding-top: 20px;
      font-size: 17px;
      font-weight: 500;
      background: none;
      color: #fff;
      text-transform: lowercase;
    }

    & input[type="submit"] {
      @include dropdown-btn();
      cursor: pointer;
      background: #000;
      width: 40%;
    }

    & input[type="reset"] {
      @include dropdown-btn();
      cursor: pointer;
      background: #000;
      width: 40%;
    }

    .btn {
      @include dropdown-btn();
      background: #000;
      color: #fff;
      width: 30%;
      transition: 0.6s all 0.02s ease;

      &:hover {
        transform: scale(1.05, 1.05);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
      }
    }

    .margin {
      margin-top: -25px;
    }

    select {
      border: 1px solid rgb(102, 157, 219);
      background: none;
      padding: 5px 10px;
      border-radius: 15px;
      color: #fff;
      outline: none;
    }

    & form div {
      position: relative;
    }

    & form div label {
      position: absolute;
      top: 10px;
      left: 32px;
      pointer-events: none;
      transition: 0.5s;
      font-size: 17px;
      color: rgb(237, 237, 237);
    }

    & input:focus ~ label,
    & input:valid ~ label {
      top: 0.12px;
      color: rgb(102, 157, 219);
      font-weight: bold;
    }

    & input:focus,
    & input:valid {
      border-bottom: 2px solid rgb(102, 157, 219);
    }
  }

  .form-info {
    grid-area: info;
    min-height: 86.9vh;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px;
    text-align: center;

    .alerta {
      border: 1px solid rgba(163, 6, 6, 0.5);
      transition: 0.6s all 0.02s ease;
      padding: 5px;

      &:hover {
        border: 2px solid rgba(163, 6, 6, 0.5);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
      }
    }

    .slide {
      width: 70%;
      margin: auto;
      border: 1px solid gray;

      &::after {
        content: '"Imagenes de referencia"';
        display: block;
        width: 100%;
        height: 31px;
        background: #000;
        color: #fff;
        padding: 5px;
        font-weight: inherit;
      }
    }
  }
}
