.containeer {
  .content-form {
    display: grid;
    grid-template:
      "form content" auto/
      40% 60%;

    &-input {
      grid-area: form;
      min-height: 86.9vh;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      display: flex;
      justify-content: center;
      align-items: center;
      border: 5px solid orange;

      .form-box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid rgb(9, 23, 221);

        form {
          border: 12px solid red;
          padding: 15px;
          width: 70%;

          // .form-box {
          //   width: 40%;
          //   background: tomato;
          //   padding: 20px;
          // }

          & input {
            padding: 10px 0;
            margin-bottom: 30px;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 2px solid #000;
            padding: 5px 5px;
            padding-bottom: -5px;
            padding-top: 20px;
            font-size: 17px;
            font-weight: bold;
          }

          & input[type="submit"] {
            border-bottom: 3px solid green;
            cursor: pointer;
          }

          & form .in {
            position: relative;
          }

          & form .in label {
            position: absolute;
            top: 10px;
            left: 5px;
            pointer-events: none;
            transition: 0.5s;
            font-size: 17px;
            color: rgb(163, 163, 163);
          }

          & input:focus ~ label,
          & input:valid ~ label {
            top: 0.12px;
            color: blue;
            font-weight: bold;
          }

          & input:focus,
          & input:valid {
            border-bottom: 2px solid blue;
          }
        }
      }
    }

    &-information {
      grid-area: content;
      min-height: 86.9vh;
      background: rgba(255, 255, 255, 0.4);
      padding: 20px;
      text-align: center;

      .slide {
        width: 70%;
        margin: auto;
        border: 10px solid gray;

        &::after {
          content: '"Imagenes de referencia"';
          display: block;
          width: 100%;
          height: 31px;
          background: #000;
          color: #fff;
          padding: 5px;
          font-weight: inherit;
        }
      }
    }
  }
}
